@*Abbie Luper's Confirmation Page*@

@{
    ViewData["Title"] = "Confirmation Page";
    ViewData["Header"] = "Confirmation";
}


@model Mission5.Models.MovieModel

<br />
<h4>@Model.Title has been added to the collection!</h4>

