@*Abbie Luper's Index Page*@

@{
    ViewData["Title"] = "Home Page";
    ViewData["Header"] = "The Joel Hilton Film Collection";
}

<br />
<div style="text-align:center;"><img src="~/img/JoelHiltonHeadshot.png" alt="Joel Hilton" style="width:350px;"></div>


