@*Abbie Luper's Podcast Page*@

@{
    ViewData["Title"] = "Podcast Page";
    ViewData["Header"] = "My Podcasts";
}

<h6>Check out the Baconsite Website <a href="https://baconsale.com/">Here</a>!</h6>
